.room-background {
    background: url(https://funkishlyf.github.io/images/13.png) no-repeat !important;
    width: 500% !important;
    height: 500% !important;
}

div.message > div.msg > div.from > span.un
{
    vertical-align:   top;
    horizontal-align: left;
}
/* ICONS */
/* DREKEN */
 .id-3632408 > .msg > .from > i.icon-chat-subscriber
{
    background: url("https://funkishlyf.github.io/images/littleredpanda2.png") no-repeat !important;
}


/* BADGES */
/* DREKEN */
#user-rollover.id-3632408 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://funkishlyf.github.io/images/rpbadge_02.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
.id-3632408  .badge-box > i.bdg
{
    background-image:    url("https://funkishlyf.github.io/images/rpbadge_02.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
/* Mungeo */
#user-rollover.id-5257948 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://funkishlyf.github.io/images/rpbadge_01.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
.id-5257948  .badge-box > i.bdg
{
    background-image:    url("https://funkishlyf.github.io/images/rpbadge_01.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
/* UserList and WaitList */
/* DREKEN 
#user-lists .list.room .user.id-3632408 .icon-chat-manager
{
    background: url("https://funkishlyf.github.io/images/redpanda2_sm.png") no-repeat !important;
}

#waitlist .list .user.id-3632408 .name .icon-chat-manager
{
    background: url("https://funkishlyf.github.io/images/redpanda2_sm.png") no-repeat !important;
}
   Mungeo 
#user-lists .list.room .user.id-5257948 .icon-chat-manager
{
    background: url("https://funkishlyf.github.io/images/littleredpanda2.png") no-repeat !important;
}

#waitlist .list .user.id-5257948 .name .icon-chat-manager
{
    background: url("https://funkishlyf.github.io/images/littleredpanda2.png") no-repeat !important;
}
*/

	 /* DREKEN personal color 
	.id-3632408 span.un.clickable { 
    color: #5797A9 !important; */

.id-3632408 i.bdg:hover, .id-3632408 i.icon:hover {
-webkit-animation: rotate 1s infinite alternate;
}

@-webkit-keyframes rotate {
from { -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}		
	
/* ROOM SETTINGS - NO TOUCHEY */

#chat .emote .from {
     color: #ac76ff !important;
}
#chat .emote {
    border-left: #D55050 3px solid !important;
    background-color: rgba(76, 93, 119, 0.22) !important;
}
#chat-messages .emote .icon {
    /*left: 4px;*/
}
#chat .emote .text {
    font-style: normal;
    font-weight: bold;
    color: #D55050;
}

/* Bot */

.id-4467448 .msg .from .un:before {
    content: '[Bot] ';
}

