.room-background {
    background: url(https://funkishlyf.github.io/images/13.png) no-repeat !important;
    width: 500% !important;
    height: 500% !important;
}

div.message > div.msg > div.from > span.un
{
    vertical-align:   top;
    horizontal-align: left;
}
/* ICONS */
/* DREKEN */
 .id-3632408 > .msg > .from > i.icon-chat-subscriber
{
    background: url("https://funkishlyf.github.io/images/littlewhitebunny2.png") no-repeat !important;
}

/* Mungeo */
 .id-5257948 > .msg > .from > i.icon-chat-subscriber
{
    background: url("https://funkishlyf.github.io/images/redpanda1_sm.png") no-repeat !important;
}

/* BADGES */
/* DREKEN */
#user-rollover.id-3632408 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://funkishlyf.github.io/images/rpbadge_02.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
.id-3632408  .badge-box > i.bdg
{
    background-image:    url("https://funkishlyf.github.io/images/rpbadge_02.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
/* Mungeo */
#user-rollover.id-5257948 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://funkishlyf.github.io/images/rpbadge_01.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
.id-5257948  .badge-box > i.bdg
{
    background-image:    url("https://funkishlyf.github.io/images/rpbadge_01.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
/* UserList and WaitList */
/* DREKEN */
#user-lists .list.room .user.id-3632408 .icon-chat-manager
{
    background: url("https://funkishlyf.github.io/images/redpanda2_sm.png") no-repeat !important;
}

#waitlist .list .user.id-3632408 .name .icon-chat-manager
{
    background: url("https://funkishlyf.github.io/images/redpanda2_sm.png") no-repeat !important;
}
/* Mungeo */
#user-lists .list.room .user.id-5257948 .icon-chat-manager
{
    background: url("https://funkishlyf.github.io/images/littleredpanda2.png") no-repeat !important;
}

#waitlist .list .user.id-5257948 .name .icon-chat-manager
{
    background: url("https://funkishlyf.github.io/images/littleredpanda2.png") no-repeat !important;
}


